/* =Color Options
-------------------------------------------------------------- */
.highlight {
	background: -webkit-linear-gradient(left, #3e3b94 0%, #413e98 30%, #327ec5 70%, #3897f0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.highlight-link {
	color: #3897f0;
}

#side-nav a.active:after, #side-nav a:hover:after {
	border: 2px solid #3897f0;
}

#side-nav #top:hover:after {
	border-left: 4px solid #3897f0;
	border-top: 4px solid #3897f0;
}

.bar-fill {
	background: -webkit-linear-gradient(left, #3e3b94 0%, #3897f0 50%, #3897f0 50%);
}

.timeline .entry .time.on:before {
	border: 1px solid #3897f0;
	background: #3897f0;
}

.button {
	border-bottom: 5px solid #777777;
}

.draw::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #777777;
    transition: width .3s;
}

.draw:hover::after {
    width: 100%;
}

#submit {
	border-bottom: 2px solid #3897f0;
}

.outer {
  padding-top: 120px;
  width: 850px;
  margin: auto;
  display: block;
  /* set the font color here as a background color, in this case black
  background-color: black; */

}

a {
	text-decoration: none !important;
}

a:hover {
  /*color: #ccc;*/
	background: -webkit-linear-gradient(left, #3897f0 0%, #3897f0 30%, #3897f0 70%, #3897f0 100%);
	-webkit-background-clip: text;
  /*-webkit-text-fill-color: #ccc;*/
  }
  @media (-webkit-min-device-pixel-ratio:0) {
  a {
    background-image: -webkit-linear-gradient(left, #3897f0 0%, #3897f0 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    -webkit-transition: 0.6s ease-in-out;
    -webkit-background-clip: text;
  }
  a:hover {
    background-position: 0 0;
    transition: 0.6s ease-in-out;
  }
}

.social-list a:hover {
	color: #3897f0 !important;
}
